@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
/* reset css */
html{
font-size: 62.5%;
scroll-behavior: smooth;
background-color: #ffffff;
}
body{
    font: 1.6rem 'Encode Sans Expanded', sans-serif;
    margin: 0;
    width: 100%;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: rgb(242, 236, 236);
    text-decoration: none;
}
:root{
    --color-default: #1e201f;
    --color-primary: #2b7dc0;
    --color-warning: #e23131;
    --color-success: #4db32e;
    --color-border: #b3b5b6;
}
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}
/* Debut du site  */
header{
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 50rem;
    position: relative;
}
header img{
    display: flex;
    max-width: 10rem;
    margin-left: 5rem;
}
header div ul{
    padding: 0rem;
    text-align: center;
    grid-template-columns: repeat(12 ,1fr);
    margin: 0 auto;
    grid-gap: 1rem;
    line-height: 5rem;
    display: grid;
}
li a{/* bouton des articles */
    border: 0;
    background: rgb(192, 212, 191);
    cursor: pointer;
    border-radius: 1rem;
    transition: all 400ms ease-in-out;
    color: #f8f1f1;
    max-width: 13rem;
    line-height: 4rem;
    padding: 0 1.2rem;
    margin-right: 1rem;
    display: grid;
    margin: 0 auto;
}
li a:hover{
    background-color: #a2b1a2;
    transition: all 500ms ease-in-out;
}