@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
/* reset css */
html{
font-size: 62.5%;
scroll-behavior: smooth;
background-color: #ffffff;
}
body{
    font: 1.6rem 'Encode Sans Expanded', sans-serif;
    margin: 0;
    width: 100%;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: rgb(43, 40, 40);
    text-decoration: none;
}
:root{
    --color-default: #1e201f;
    --color-primary: #2b7dc0;
    --color-warning: #e23131;
    --color-success: #4db32e;
    --color-border: #b3b5b6;
}
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #222 #333;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}
/* Debut du site  */
header{
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
header img{
    max-width: 10rem;
    display: block;
    transform: translateX(5rem);
}
header div ul{
    padding: 0rem;
    text-align: center;
    grid-template-columns: repeat(7 ,1fr);
    margin: 0 auto;
    grid-gap: 1rem;
    line-height: 5rem;
    display: grid; 
    transform: translateY(4rem);
    max-width: 70%;
}
main h1{
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
   
    transform: translateY(4rem);
}
.back{
    background: url("../asset/back.jpg") no-repeat;
    padding: 19rem;
    margin-top: 2rem; 
}
section h1:nth-child(1){
    color: #fff;
}
section h2:nth-child(2){
    color: #fff;
}
section:nth-child(2){
    max-width: 50%;
    margin-top: 2rem;
    margin: 0 auto;
    text-align: justify;
}
section h2,  h3{
    text-align: center;
}
button{
    cursor: pointer;
    border-radius: 0.5rem;
    max-width: 20rem;
    line-height: 4rem;
    padding: 0 2rem;
    margin-right: 1rem;
    border: 0;
    background: rgb(192, 212, 191);
    cursor: pointer;
    transform: translateY(2rem);
}
button:hover{
    background-color: #9ab19a;
    transition: all 500ms ease-in-out;
}
ul img{
    transform: translateY(-3rem);
}
hr{ /* barre d'espace entre les articles */
    display: block;
    max-width: 115rem;
    margin-left: 33rem;
    margin-top:3rem;
    color: rgb(181, 223, 190);

}
main figure {
    max-width: 120rem;
    height: 29rem;
    margin: 0 auto;
    display: grid;
    grid-gap: 30rem;/* espacement entre les grids */
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2rem;
}
main figure img{
    display: block;
    width: 78%;
    height: 25rem;
    clip-path: circle(70%);
}
main figure figcaption,.app1 figcaption,.app2 figcaption,.app3 figcaption{
    margin-right: 1rem;
    padding: 0.5rem;
    font-style: italic;
    line-height: 2.3rem;
}
main figure figcaption p{
    width: 40rem; /* à modifier selon les besoins */
    overflow: hidden
}
.image2{
    order: 2;
}
.haut{
    width: 3%;
    transform: translateY(15rem);
    background-color: #fff;
    border-radius: 3rem;
}
.haut:hover{
    transition: all 1s ease-in-out;
    transform: translateY(12rem);
    
}
li a{/* bouton des articles */
    border: 0;
    
    cursor: pointer;
    border-radius: 1rem;
    transition: all 400ms ease-in-out;
    color: #008080;
    max-width: 20rem;
    line-height: 4rem;
    padding: 0 1.2rem;
    margin-right: 1rem;
    display: grid;
    margin: 0 auto;
}
ul{ 
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 70%;
}


li a:hover{
    transition: all 500ms ease-in-out;
    color: #7fc095;
}
section{
    text-align: center;
}
section h2{
    margin-top: 6rem;
}
section form{
    margin-top: 2rem;
}
/* pied de page */
footer{
    line-height: 5rem;
    max-width: 100%;
    margin:1rem auto;
    border: solid .1rem #ccc;
    padding: 1rem;
    background-color: rgb(192,212,191);
}
/* bouton des articles pied de page */

.menu1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
.art{
    border: 0;
    cursor: pointer;
    display: block;
    color: #252424;
    line-height: 4rem;
    margin-top: 4rem;
    margin: 1 auto;
    background-color: transparent;
    width: 12rem;
}
.art:hover{
    border-bottom: solid .1rem;
    background-color: transparent;
}
.copy{
    text-align: center;
}
.logo1{
    clip-path: circle(60%);
    margin-left: 5rem;
    margin-top: 2rem;
    z-index: 2;
    width: 8rem;
    height: 8rem;
}