@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');
/* reset css */
html{
font-size: 62.5%;
scroll-behavior: smooth;
background-color: #ffffff;
}
body{
    font: 1.6rem 'Encode Sans Expanded', sans-serif;
    margin: 0;
    width: 100%;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: rgb(43, 40, 40);
    text-decoration: none;
}
:root{
    --color-default: #1e201f;
    --color-primary: #2b7dc0;
    --color-warning: #e23131;
    --color-success: #4db32e;
    --color-border: #b3b5b6;
}
/* scroll bars */
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: rgb(93, 138, 100) rgb(93, 138, 100);
}
*::-webkit-scrollbar {
    width: .1rem;
}
*::-webkit-scrollbar-thumb {
    background-color: rgb(93, 138, 100);
    outline: .2rem solid rgb(93, 138, 100);
}
/* Debut du site  */
header{
    display: block;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
header img{
    max-width: 10rem;
    display: block;
    transform: translateX(5rem);
}
header nav ul{
    padding: 0rem;
    text-align: center;
    grid-template-columns: repeat(7 ,1fr);
    margin: 0 auto;
    grid-gap: 1rem;
    line-height: 5rem;
    display: grid; 
    transform: translateY(4rem);
    max-width: 70%;
}
main h1{
    font-size: 3rem;
    text-align: center;
    margin: 0 auto;
   
    transform: translateY(4rem);
}
.first-section{
    background: url("../asset/back.jpg") no-repeat;
    padding: 19rem;
    margin-top: 2rem; 
}
.hide_menu li a{/* bouton des articles */
    border: 0;
    cursor: pointer;
    border-radius: 1rem;
    transition: all 400ms ease-in-out;
    color: #008080;
    max-width: 20rem;
    line-height: 4rem;
    padding: 0 1.2rem;
    margin-right: 1rem;
    display: grid;
    margin: 0 auto;
}
.hide_menu li a:hover{
    transition: all 500ms ease-in-out;
    color: #7fc095;
}
.logo{
    transform: translateY(-3rem);
}
.hide_menumenu ul{ 
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 1rem;
    margin: 0 auto;
    max-width: 70%;
}
button{
    cursor: pointer;
    border-radius: 0.5rem;
    max-width: 20rem;
    line-height: 4rem;
    padding: 0 2rem;
    margin-right: 1rem;
    border: 0;
    background: rgb(192, 212, 191);
    cursor: pointer;
    transform: translateY(2rem);
}
button:hover{
    background-color: #9ab19a;
    transition: all 500ms ease-in-out;
}
.haut{
    width: 3%;
    transform: translateY(15rem);
    background-color: #fff;
    border-radius: 3rem;
}
.haut:hover{
    transition: all 1s ease-in-out;
    transform: translateY(12rem);
    
}
h2{
    color: #659174;
    font-weight: 700;
}
section{
    text-align: center;
}
section h1:nth-child(1){
    color: #fff;
}
section h2{
    margin-top: 6rem;
}
section form{
    margin-top: 2rem;
}
section h2:nth-child(2){
    color: #fff;
}
section:nth-child(2){
    max-width: 50%;
    margin-top: 2rem;
    margin: 0 auto;
    text-align: justify;
}
section h2,  h3{
    text-align: center;
}

hr{ /* barre d'espace entre les articles */
    display: block;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 3rem;
    color: rgb(155, 202, 165);
}
footer hr{
    display: block;
    max-width: 71%;
    margin: 0 auto;
    margin-top: 3rem;
    color: rgb(155, 202, 165);
}
/* 3e section */
.third-section{
    max-width: 70%;
    margin: 0 auto;
    column-count: 3;
    text-align: justify;
}
/* 4e section */
.fourth-section{
    max-width: 50%;
    margin: 0 auto;
    text-align: justify; 
}
/* pied de page */
footer{
    line-height: 5rem;
    max-width: 100%;
    
    border: solid .1rem #ccc;
    padding: 1rem;
    background-color: rgb(192,212,191);
}
/* bouton des articles pied de page */

.menu1{
    display: grid;
    grid-template-columns: repeat(5,1fr);
}
/* footer ul:nth-child(2){

} */
.footer-section ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10rem;
}
.footer-section a li{
    border: 0;
    cursor: pointer;
    display: block;
    color: #252424;
    line-height: 4rem;
    margin-top: 4rem;
    margin: 0 auto;
    background-color: transparent;
}
.footer-section li:hover{
    border-bottom: solid .1rem;
    background-color: transparent;
}
.copy{
    text-align: center;
}
.logo1{
    clip-path: circle(60%);
    margin-left: 5rem;
    margin-top: 2rem;
    z-index: 2;
    width: 8rem;
    height: 8rem;
}